@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    font-size: 3rem;
    font-weight: bold;
  }

  h4 {
    font-size: 1.5rem;
    font-weight: semi-bold;
  }

  ul {
    @apply list-inside list-disc;
  }

  ol {
    @apply list-inside list-decimal;
  }

  input:focus {
    outline: none;
  }
}

@layer components {
  .page {
    @apply mx-auto flex w-[95%] flex-col gap-8 rounded-md bg-white p-6 lg:w-[40%];
  }

  .button-secondary {
    @apply text-btn-secondary border-btn-secondary flex h-[30px] w-[30px] items-center justify-center border-[2px] hover:border-black hover:text-black;
  }
}

.test {
  background: black;
  aspect-ratio: 1 / 1;
  width: 2em;
}
